$font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';

// widget 高度
$height-base: 32px;
$height-small: 24px;
$height-large: 40px;

// 字号
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 16px;

// 圆角
$radius-base: 3px;
$radius-small: 2px;
$radius-large: 4px;

$color-primary: #1890ff;
$color-danger: #ff4d4f;
$color-warn: #ffb84d;
$color-success: #45c55b;

$color-font-base: #314659;
