html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  background: #f0f0f0;
}

article {
  flex: 1 1 100%;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;  
}

article header {
  padding: 40px 40px 0;
}
article header h1 { margin: 0; }
article h1 { font-size: 48px }
article h2 { font-size: 36px }
article h3 { font-size: 24px }
article h4 { font-size: 16px }


.section {
  border-top: 1px dashed #ddd;
  margin: 40px 0;
  padding: 40px 40px;
  background: #fff;
}

.case:not(:first-child) {
  padding: 15px 0;
}  

.print-area {
  margin: 30px 0;
  padding: 20px;
  background-color: #444;
  color: #eee;
}

.print-area .print-title {
  margin: 0;
  font-size: 14px;
}

.note {
  padding: 15px;
  background-color: #fafafa;
}


/* scrollbar 宽度 */
::-webkit-scrollbar {
  background: transparent;
  background: rgba(0, 0, 0, .075);
}
::-webkit-scrollbar:horizontal {
  width: 100%;
  height: 12px;
}
::-webkit-scrollbar:vertical {
  width: 12px;
  height: 100%;
}
/* scrollbar 轨道（滑动槽） */
::-webkit-scrollbar-track {
  background: transparent;
}
/* scrollbar 滑块 */
::-webkit-scrollbar-thumb {
  border: 1px solid rgba(255,255,255,.3);
  background: rgba(0, 0, 0, .2);
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Firefox scrollbar */
* {
  scrollbar-width: thin;
}
