/* scrollbar 宽度 */
::-webkit-scrollbar {
  background: transparent;
  /* background: rgba(0, 0, 0, .075); */
}
::-webkit-scrollbar:horizontal {
  width: 100%;
  height: 8px;
}
::-webkit-scrollbar:vertical {
  width: 8px;
  height: 100%;
}
/* scrollbar 轨道（滑动槽） */
::-webkit-scrollbar-track {
  background: transparent;
}
/* scrollbar 滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Firefox scrollbar */
* {
  scrollbar-width: thin;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  color: #333;
}

#header {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 50px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

#header h1 {
  box-sizing: border-box;
  width: 180px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
}

#header bl-nav-menu {
  margin: 8px 20px 0 200px;
}


#body {
  height: calc(100vh - 50px);
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
}

#aside {
  flex: 0 0 180px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  padding-bottom: 100px;
}
#aside:hover {
  overflow: auto;
}
#aside bl-nav-menu {
  min-height: 100%;
}

#article {
  flex: 1 1 100%;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;  
}
