/* scrollbar 宽度 */
::-webkit-scrollbar {
  background: transparent;
  background: rgba(0, 0, 0, .075);
}
::-webkit-scrollbar:horizontal {
  width: 100%;
  height: 8px;
}
::-webkit-scrollbar:vertical {
  width: 8px;
  height: 100%;
}
/* scrollbar 轨道（滑动槽） */
::-webkit-scrollbar-track {
  background: transparent;
}
/* scrollbar 滑块 */
::-webkit-scrollbar-thumb {
  border: 1px solid rgba(255, 255, 255, .3);
  background: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Firefox scrollbar */
* {
  scrollbar-width: thin;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  background: #f0f0f0;
}

article {
  flex: 1 1 100%;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px 235px 15px 15px;
}

article header {
  padding: 40px 40px 0;
}
article header h1 {
  margin: 0;
}
article h1 {
  font-size: 48px;
  font-weight: 500;
}
article h2 {
  font-size: 36px;
  font-weight: 500;
}
article h3 {
  font-size: 24px;
  font-weight: 500;
}
article h4 {
  font-size: 16px;
  font-weight: 500;
}

.section {
  border-top: 1px dashed #ddd;
  margin: 40px 0;
  padding: 40px 40px;
  background: #fff;
}

.case:not(:first-child) {
  padding: 15px 0;
}

.print-area {
  margin: 30px 0;
  padding: 20px;
  background-color: #292929;
  border-radius: 5px;
  color: #eee;
}

.print-area .print-title {
  margin: 0;
  font-size: 14px;
}

.print-area code {
  border-radius: 3px;
}

.note {
  padding: 15px;
  background-color: #fafafa;
}

.heading-nav {
  position: fixed;
  top: 0;
  right: 12px;
  width: 205px;
  height: 100%;
  padding: 15px 5px 15px 15px;
  border-left: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #fff;
}
.heading-nav blocks-button {
  display: block;
  margin: 5px;
}
.heading-nav ol {
  margin: 0;
  padding: 0 5px 5px;
}
.heading-nav li {
  padding: 4px 10px;
  list-style: none;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}
.heading-nav li:hover {
  background: #f0f0f0;
}


table {
  width: 100%;
  border: 1px solid #d9d9d9;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 14px;
}
th, td {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #d9d9d9;
  word-break: break-word;
}
th {
  text-align: left;
  background-color: #f0f0f0;
}
table.api-props th:last-child,
table.api-props td:last-child {
  width: 50px;
  text-align: center;
}
