/* scrollbar 宽度 */
::-webkit-scrollbar {
  background: transparent;
  background: rgba(0, 0, 0, .075);
}
::-webkit-scrollbar:horizontal {
  width: 100%;
  height: 8px;
}
::-webkit-scrollbar:vertical {
  width: 8px;
  height: 100%;
}
/* scrollbar 轨道（滑动槽） */
::-webkit-scrollbar-track {
  background: transparent;
}
/* scrollbar 滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Firefox scrollbar */
* {
  scrollbar-width: thin;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  color: #333;
}

body {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  background: #f0f0f0;
}

article {
  flex: 1 1 100%;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px 165px 15px 25px;
}

article header {
  padding: 30px 30px 0;
}

article header h1 {
  margin: 0;
}

article h1 {
  font-size: 48px;
  font-weight: 500;
}

article h2 {
  font-size: 36px;
  font-weight: 500;
}

article h3 {
  font-size: 24px;
  font-weight: 500;
}

article h4 {
  font-size: 16px;
  font-weight: 500;
}

.section {
  border-top: 1px dashed #ddd;
  margin: 40px 30px 40px 0;
  padding: 40px 0;
  background: #fff;
}

.case {
  padding: 15px;
  border: 1px solid #e8e8e8;
}
.case:after {
  display: table;
  content: '';
  clear: both;
}

.print-area {
  overflow: hidden;
  margin: 10px 0;
  background-color: #333;
  border-radius: 5px;
  color: #eee;
  clear: both;
}

.print-area .print-title {
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-bottom: 1px solid #383838;
  cursor: pointer;
}

.print-area .print-title:hover {
  background-image: linear-gradient(to bottom, rgba(255,255,255,.03), rgba(255,255,255,.03));
}

.print-area .print-title:active {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.print-area .print-title .toggle {
  position: relative;
  float: right;
  width: 16px;
  height: 16px;
}

.print-area .print-title .toggle::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: all .1s;
}

.print-area .print-title .toggle.on::after {
  transform: rotate(-135deg);
}

.print-area pre {
  margin: 20px;
}

.print-area code {
  border-radius: 3px;
}

.note {
  padding: 15px;
  background-color: #fafafa;
}

.heading-nav {
  position: fixed;
  top: 0;
  right: 12px;
  width: 135px;
  height: 100%;
  padding: 15px 5px;
  border-left: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #fff;
}
.heading-nav bl-button {
  display: block;
  margin: 5px;
}
.heading-nav ol {
  margin: 0;
  padding: 0 5px 5px;
}
.heading-nav li {
  padding: 4px 10px;
  list-style: none;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}
.heading-nav li:hover {
  background: #f0f0f0;
}


table {
  width: 100%;
  border: 1px solid #d9d9d9;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 14px;
}
th, td {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #d9d9d9;
  word-break: break-word;
}
th {
  text-align: left;
  background-color: #f0f0f0;
}
table.api-props th:last-child,
table.api-props td:last-child {
  width: 50px;
  text-align: center;
}
